.courseMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 350px;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 30px;
}
.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}
.cardPrice {
  font-style: italic;
  color: red;
  font-weight: 800;
}

.cardDeleteBtn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: cornflowerblue;
  color: blanchedalmond;
}

.yenileDiv{
  text-align: center;
}

.btnfa {
  border: none;
  background: transparent;
  font-size: 20px;
  color: red;
}

.randomBtn {
  border: 5px solid purple;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: blanchedalmond;
}